spring:
  application:
    name: booking-service

  datasource:
    url: jdbc:mysql://localhost:3307/booking_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: booking_db

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  quartz:
    job-store-type: memory
    properties:
      org:
        quartz:
          scheduler:
            instanceName: BookingScheduler
            instanceId: AUTO
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 5
            threadPriority: 5

server:
  port: 8083

management:
  tracing:
    enabled: false
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.example.barbooking: DEBUG
    org.quartz: INFO

